//variables
$header-title__font-size: 8rem;

$second-block__bg-color: #75e3dd;
$third-block__bg-color: #f4979c;


//styles
.header{
    width:100%;
    display: flex;
    height:70vh;
    min-height: 24rem;
    align-self: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    
    @media #{$information-large-size}{
        height: auto;   
    }
    @media #{$information-small-size}{
        flex-direction: column;    
    }
    
    
    &__title{
        font-size: $header-title__font-size;
        color:#fff;
        letter-spacing: 0.0625em;
        border-bottom: 0.02em solid #fff;    
        line-height: 0.9;
        margin-bottom: 3%;
        font-family: $secondary__font-family;
        font-size: 5em;
    }
    
    &__container{
        flex:1;    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-repeat: no-repeat;    
        background-position: 25% 83%;
        position: relative;        
        
        &--large{
            flex:2;
            
            @media #{$information-large-size}{
                flex:2 2 100%;
            }
            @media #{$information-small-size}{
                flex:2;   
            }
        }
        
        &--content-down{
            justify-content: flex-end;
        }
        
        &--bg-first-block{
            background-color: $color-dark-blue;
            @include letter("./../hello-colors/assets/h.svg", $left:30%, $width: 17rem, $height: 17rem);
            @media #{$information-large-size}{
                @include letter("./../hello-colors/assets/h.svg", $left:35%, $bottom:10%, $width: 70%, $height: 70%);    
            }
            @media #{$information-small-size}{
                @include letter("./../hello-colors/assets/h.svg", $bottom:10%, $width: 70%, $height: 70%);    
            }
        }
        
        &--bg-second-block{    
            background-color:$second-block__bg-color;
            @include letter("./../hello-colors/assets/d.svg");
            
            @media #{$information-large-size}{
                @include letter("./../hello-colors/assets/d.svg", $bottom:10%, $width: 80%, $height: 80%);    
            }
        }
        
        &--bg-third-block{    
            background-color: $third-block__bg-color;
            @include letter("./../hello-colors/assets/p.svg");
            
            @media #{$information-large-size}{
                @include letter("./../hello-colors/assets/p.svg", $bottom:10%, $width: 80%, $height: 80%);    
            }
        }
 
    }
    
    &__text {        
        padding: 0 3rem 3rem 2rem;
        text-align: right;        
        align-self: flex-end;
        line-height: 1.3;    
        color:#fff;
        z-index: 2;
        font-size: 1em;
        
        @media #{$information-large-size}{
            padding: 3em 3em 3em 2em;       
        }
        
        &--small-column{
            width: min-content;
            width: -moz-min-content;
            width: -webkit-min-content;
        }
        
        &--dark-green{
            color: $color-dark-green; 
        }
        
        &--dark-red{
            color: $color-dark-red;
        }
    }
}

