//variables

$base__font-family: 'Inconsolata', monospace;
$secondary__font-family: 'Prata', serif;

$base-font-size: 1em;
$base-line-height: 1.5;
$section-title__font-size: 4.5rem;
$article-title__font-size: 2.5rem;
//colors


//styles
body{    
    font-family: $base__font-family;
    font-size: $base-font-size;    
    line-height: $base-line-height;
    
    @media #{$mq-medium} {
    font-size: $base-font-size*1.1;
    line-height: $base-line-height*1.1;
    }

  @media #{$mq-large} {
    font-size: $base-font-size*1.2;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}
    
    

.section{
    padding-bottom: 5%;
    
    &__title{ 
    font-family: $secondary__font-family;
    font-size:3.8em;
    letter-spacing: 0.0625em;
    padding-bottom: 5%;
        
    &--blue{
        color:$color-green;
    }
    &--dark-blue{
        color:$color-dark-blue;
    }
    &--red{
        color:$color-red;
    }
    }
}
.article{
    display: flex;
    
    @media #{$information-small-size}{
        flex-direction: column;
        padding: 5% 0;    
    }
    
     &--reverse{
        flex-direction: row-reverse;
        
         @media #{$information-small-size}{
             flex-direction: column;    
         }
    }
    
    &__text{
        padding:5%;
        text-align: left;
        line-height: 1.25;
        flex: 1 1 50%;
        font-size: 0.9em;
        
        &--right{
            text-align: right;
        }
        &--padding{    
            padding: 0 12.5% 0 2%;
            
            @media #{$information-large-size}{
                padding: 0;    
            }
        }
    }
    &__title{
        font-family:$secondary__font-family;
        font-size: $article-title__font-size;
        padding-bottom: 3%;
        font-size:2em;        
        
        &--dark-green{
            color:$color-dark-green;
        }
        &--blue{
            color: $color-blue;
        }
    }
    &__link{
        padding-top: 10%;
        display: block;
        color:$color-green;
        font-weight: 800;
        letter-spacing: 0.25em;
        
        @media #{$information-small-size}{
            padding-bottom: 10%;   
        }
    }
    &__paragraph{
        padding-bottom: 1em;
        
        &--bold{
            font-weight: bold;
        }
    }
}
