$color-green:#41ccc4;
$color-dark-green:#16736e;

$color-blue: #306fbf;
$color-dark-blue:#003170;

$color-red:#f3747b;
$color-dark-red: #be4249;

//breakpoints
$information-small-size: "only screen and (max-width: 32.5rem)";
$information-medium-size: "only screen and (max-width: 35.875rem)";
$information-large-size: "only screen and (max-width: 53.125rem)";